// Font sizes

// Desktop
$title-desktop-L: rem(96);
$title-desktop-S: rem(36);
$description-desktop-L: rem(32);
$description-desktop-S: rem(20);
$nav-titles: rem(24);

// Mobile
$title-mobile-L: rem(64);
$title-mobile-M: rem(40);
$title-mobile-S: rem(16);
$description-mobile-L: rem(24);
$description-mobile-M: rem(20);
$description-mobile-S: rem(14);
$sample-mobile: rem(32);
$footer-mobile: rem(14);
